<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <main>
            <% if (user) { %>
                <p><%= user.id %> </p>
                <p><%= user.email %> </p>
            <% } %>
            <div class="contenedor">
                <section class="categorias">
                    <select class="selector" name="categorias" id="categorias">
                        <option value="all" selected>-- Selecciona Categoría</option>
                        <option value="comedia">comedia</option>
                        <option value="drama">drama</option>
                        <option value="accion">acción</option>
                        <option value="suspenso">suspenso</option>
                        <option value="amor">amor</option>
                        <option value="all">Todas</option>
                    </select>
                    <div class="menu-categorias">
                            <ul class="lista-categorias">
                                <% categorias.forEach(categoria => { %>
                                    <form action="/<%= categoria.id_categoria_libro %> " method="get">
                                        <li class="item-categoria"><button class="categoriasBusqueda" type="submit"><%= categoria.nombre_categoria_libro %></button></li>
                                    </form>
                                <% }) %>
                                <form action="/" method="get">
                                    <li class="item-categoria"><button class="categoriasBusqueda" type="submit">Todos</button></li>
                                </form>
                            </ul>
                    </div>
                </section>
                <section class="slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <% for( let index = 0; index < 20; index++ ) { %>
                                <div class="swiper-slide enOferta">
                                    <div class="etiquetaDescuento">
                                        <p>en oferta</p>
                                    </div>
                                    <img src="<%= apiImages[index].urls.small %>" alt="<%= apiBooks[index].title %>">
                                </div>
                            <% } %>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <section class="no-slider">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <div class="enOferta">
                            <div class="contenedorOferta">
                                <div class="etiquetaDescuento">
                                    <p>en oferta</p>
                                </div>
                                <img src="<%= apiImages[index].urls.small %>" alt="<%= apiBooks[index].title %>">
                            </div>
                        </div>
                    <% } %>
                </section>
                <!--Sección de productos en mobile -->
                <section class="principal small">
                    <h2 class="tituloPrincipal">Libros</h2>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <% for( let index = 0; index < 10; index++ ) { %>
                                <div class="swiper-slide card-book">
                                    <div class="book">
                                        <div class="book-image">
                                            <img class="bookImagen" src="https://via.placeholder.com/240x300" alt="">
                                        </div>
                                        <div class="book-info">
                                            <div class="book-title">
                                                <h5>titulo del Libro</h5>
                                            </div>
                                            <div class="book-price">
                                                <p>AR$ 50.00</p>
                                            </div>
                                            <div class="icon-agregar">
                                                <i class="fas fa-heart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <!-- sección de productos en tablet y desktop -->
                <section class="principal medium">
                    <h2 class="tituloPrincipal">Libros</h2>
                    <div class="book-container">
                        <% librosOk.forEach(libro => { %>
                            <div class="book">
                                <div class="book-image">
                                    <img class="bookImagen" src=<%= libro.portada %> alt="<%= libro.titulo %>">
                                </div>
                                <div class="book-info">
                                    <div class="book-title">
                                        <h5><%= libro.titulo %> </h5>
                                    </div>
                                    <div class="book-price">
                                        <p>AR$ <%= libro.precio %></p>
                                    </div>
                                    <div class="icon-agregar">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </section>
            </div>
        </main>


        <%- include('./partials/footer') %>

        <!-- Slider, no Tocar! -->
        <script src="../js/index.js"></script>
        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 1,
                spaceBetween: 10,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 4,
                        spaceBetween: 40,
                    },
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 50,
                    },
                },
            });
        </script>
    </body>
</html>