<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!-- DATOS DEL LIBRO-->
    <main class="productDetail">
        <div class ="productDetail-image"> 
            <img src="<%= productoBuscado.portada%>" alt="<%= productoBuscado.titulo%>">
        </div>
        <div class="productDetail-contenedor">
            <div class="productDetail-mainInfo">
                <h2> <%= productoBuscado.titulo%> </h2>
                <p><span>AUTOR:</span> <%= productoBuscado.autor%></p>
                <p><span>EDITORIAL:</span> <%= productoBuscado.editorial%></p>
                <p><span>AR$</span> <%= productoBuscado.isbn%></p>
            </div>
            <div class="productDetail-mainInfo">
                <h3>DESCRIPCIÓN DEL LIBRO</h3>
                <p><%= productoBuscado.descripcion%></p>
            </div>
            <div class="productDetail-mainInfo">
                <h2>DETALLES DEL LIBRO </h2>
                <p><span>NÚMERO DE PÁGINAS:</span><%= productoBuscado.numero_paginas%></p>
                <p><span>PESO:</span><%= productoBuscado.numero_paginas%> GRS</p>
                <p><span>FORMATO:</span><%= productoBuscado.formato%></p>
                <p><span>ISBN:</span><%= productoBuscado.isbn%></p>
                <p><span>IDIOMA:</span><%= productoBuscado.categoria%></p>
            </div>
            <div class="productDetail-mainInfo">
                <h2>RESEÑAS</h2>
                <h3>Comentarios sobre el libro</h3>
                <p>Todavía nadie dejó ninguna reseña.</p>
                <div class="comentario">
                    <p>comentario de usuario</p>
                </div>
            </div>      
        </div>
        <div class="productDetail-interaccion">
            <div class="interaccion-cantidad">
                <button>-</button>
                <input type="text">
                <button>+</button>
            </div>
            <button class="interaccion-boton"><a href="#">Agregar al Carrito<i class="fas fa-shopping-basket icon-interaccion"></i></a></button>
            <div class="interaccion-link">
                <a href="/products/productCart">Ir al Carrito<i class="fas fa-shopping-basket icon-interaccion"></i></a>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
    <script src="../js/index.js"></script>
</body>
</html>