<%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <main>
            <% products.forEach(product=>{%>
             <a href="/products/<%= product.id%>"><p><%= product.id%><span><%= product.titulo%></span></p></a>
            <%})%>           
        </main>
        <%- include('./partials/footer') %>
        <script src="../js/index.js"></script>
    </body>
</html>