<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main class="formulario-registro">
                <section class="titulo-registro">
                    <h1>ACTUALIZA TUS DATOS</h1>
                </section>
                <div class="register-form">
                    <form class="form-seccion" action="/users/edit/<%= userToEdit.id_usuario %>?_method=PUT" method="post">
                        <div class="primera-seccion">
                            <div class="input">
                                <h3 class="subtitulo-registro">Datos Personales</h3>
                            </div>
                            <div class="input">
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required
                                    value="<%= userToEdit.nombre %>">
                            </div>
                            <div class="input">
                                <input type="text" name="apellido" id="apellido" placeholder="Apellido" required
                                    value="<%= userToEdit.apellido %>">
                            </div>
                            <div class="input">
                                <label for="fecha">Fecha de Nacimiento</label>
                                <input type="date" name="fecha" id="fecha" required
                                    value="<%= userToEdit.fecha_nacimiento %>">
                            </div>
                            <div class="input">
                                <input type="email" name="email" id="email" placeholder="email" required
                                    value="<%= userToEdit.email %>">
                            </div>
                            <div class="input">
                                <input type="tel" name="phone" id="phone" placeholder="Telefono" required
                                    value="<%= userToEdit.telefono %>">
                            </div>
                            <div class="input">
                                <input type="text" name="pais" id="pais" placeholder="País" required
                                    value="<%= userToEdit.pais %>">
                            </div>
                        </div>
                        <div class="segunda-seccion">
                            <div class="input">
                                <input type="text" name="provincia" id="provincia" placeholder="Provincia"
                                    value="<%= userToEdit.provincia %>">
                            </div>
                            <div class="input">
                                <input type="text" name="localidad" id="localidad" placeholder="Localidad"
                                    value="<%= userToEdit.localidad %>">
                            </div>
                            <div class="input">
                                <input type="text" name="direccion" id="direccion" placeholder="Direccion" required
                                    value="<%= userToEdit.direccion %>">
                            </div>
                            <div class="input">
                                <input type="text" name="piso" id="piso" placeholder="Piso o Departamento"
                                    value="<%= userToEdit.piso %>">
                            </div>
                            <div class="input">
                                <input type="text" name="cp" id="cp" placeholder="Código Postal" required
                                    value="<%= userToEdit.cod_postal %>">
                            </div>
                        </div>
                        <div class="form-confirm">
                            <div class="input botones">
                                <input type="reset" value="Borrar Formulario">
                                <input type="submit" value="Actualizar Usuario">
                            </div>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>
                <script src="../js/index.js"></script>
    </body>

    </html>