<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <main class="productsList">
 
            <button class="createProduct"><a class="createProductText" href="/users/create">CREAR USUARIO</a></button>
            <% users.forEach((user,index)=>{%>
                <div class="itemList">
                    <div class="productItem">
                        <p><%= index + 1 %></p>
                        <% if (user.isAdmin) { %>
                            <p>*</p> 
                        <% } %>         
                        <a  href="/users/detalle/<%= user.id%>"><span class="productName"><%= user.nombre%> <%= user.apellido%></span></a>
                    </div>
                    <div class="icon-productItem">
                        <a href="users/edit/<%= user.id%>"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="icon-productItem">
                        <form action="/users/delete/<%= user.id%>?_method=DELETE" method="post">
                            <button class="productDelete" type="submit" ><i class="fas fa-trash"></i></button>                            
                        </form>
                    </div>
                </div>
            <%})%>           
        </main>
        <%- include('../partials/footer') %>
        <script src="../js/index.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    </body>
</html>